.App {
  text-align: center;
  height: 50vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 auto;
  padding: 2%;
}

button {
  width: 200px;
  height: 50px;
  background-color: aqua;
  border: none;
  box-shadow: 1px 1px 5px 0px grey;
  cursor: pointer;
  font-size: 1em;
  margin-top: 5%;
}

ul li {
  list-style: none;
  margin: 0%;
  padding: 2%;
  font-size: 1em;
}

button:active,
button:focus {
  outline: none;
}
